form {
	width: 100%;
	margin: 0;
	padding: 0;

	label {
		.font-size(@font-size-small);
	}

	input,
	textarea {
		.border-radius(@main-border-radius);
		border: 1px solid @color-border;
		padding: @spacing-tiny;
		color: @grey;
		outline: none;
		width: 100%;

		&:hover {
			outline: none;
		}

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
			border: 1px solid @grey-light;
		}

		// TODO
		&::-webkit-input-placeholder {
			color: red;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: red;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: red;
		}

		&:-ms-input-placeholder {
			color: red;
		}
	}

	input[type="submit"] {
		@border-width: 2px;

		.border-radius(@main-border-radius);
		.font-size(@font-size-small);
		position: relative;
		border: 0;
		border-bottom: @border-width solid darken(@primary, 30%);
		width: auto;
		display: inline-block;
		padding: @spacing-small;
		background: @primary;
		color: @white;

		&:hover {
			background: fade(@primary, 90%);
		}

		&:active {
			margin-top: @border-width;
			border-bottom: 0;
		}
	}

	// Plugin contact-form-7
	// -------------------------
	.wpcf7-response-output,
	span.wpcf7-not-valid-tip {
		.border-radius(@main-border-radius);
		.font-size(@font-size-small);
		padding: @spacing-tiny @spacing-small;
		margin-top: @spacing-small;
	}

	// Notification below input
	span.wpcf7-not-valid-tip {
		.pseudo-arrow-top(7px, @red, @red-light);
		background: @red-light;
		border: 1px solid @red;
		color: @red;
		display: block;
	}

	// general output message
	.wpcf7-response-output {
		margin: 0;

		&.wpcf7-mail-sent-ok {
			border: 1px solid @green;
		}

		&.wpcf7-mail-sent-ng {
			border: 1px solid @red;
		}

		&.wpcf7-spam-blocked {
			border: 1px solid @orange;
		}

		&.wpcf7-validation-errors {
			border: 1px solid @orange;
		}
	}
}

.screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}