// Footer
// -------------------------
footer {
	color: @white;
	position: relative;
	background: @color-website-footer;
	z-index: 2;
	.font-size(@font-size-small);

	i {
		width: 25px;
		padding-right: @spacing-small;
	}

	h3,
	a {
		color: @white;
	}

	.copyright {
		text-align: right;
	}

}