// Header
// -------------------------
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: @color-website-header;
	margin: 0 auto;
	z-index: @z-index-highest;
	transition: @transition;
	border-bottom: 1px solid @grey;

	&.compact {
		background: fade(@color-website-header, 90%);

		a.home img {
			width: 60px;
			height: 60px;
		}
	}

	h1 {
		// seo -_-'
		position: absolute;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
		height: 1px;
		width: 1px;
	}

	a.home {
		display: inline-block;
		width: 140px;

		img {
			display: block;
			margin: 0 auto;
			transition: @transition;
		}

		&:hover {
			background: transparent;
		}
	}


	.title {
		float: right;

		div {
			.font-size(@font-size-small);
		}
	}

	nav {
		vertical-align: bottom;
		display: inline-block;
		padding-left: @spacing-base;

		ul {
			list-style: none;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 @spacing-small 0 0;

				&:last-of-type {
					margin: 0;
				}

				a {
					.font-size(@font-size-small);
					.border-radius(@main-border-radius);
					padding: @spacing-tiny;
					text-transform: uppercase;

					&:hover {
						color: @white;
					}
				}
			}
		}
	}
}