// Hero
// -------------------------
.hero {
	z-index: @z-index-low;
	background-size: cover;
	height: @hero-height;
	background-position: 50% 0%;

	position: fixed;
	left: 0;
	right: 0;
	top: @header-height;

	&.fallback {
		height: 120px;
	}

	#map-canvas {
		width: 100%;
		height: 100%;

		.map-window {
			min-width: 140px;

			h3 {
				.font-size(15);
			}

			p {
				.font-size(13);
				margin: 0;
			}

			// damn you nl2br
			br:nth-of-type(even) {
				display: none;
			}
		}

	}

	section {
		.perfect-center();

		h2,
		p {
			color: @white;
			text-shadow: 0 0 8px rgba(0,0,0,.3);
			display: block;
			text-align: center;
		}

		h2 {
			.font-size(60);
			color: @secondary;
			text-transform: uppercase;
		}

		p {
			.font-size(@font-size-header);
		}
	}
}